ACTION=="add", SUBSYSTEM=="block", RUN+="/lib/udev/switchblock -s '' '%E{ID_FS_UUID}'"
ACTION=="remove", SUBSYSTEM=="block", RUN+="/lib/udev/switchblock -f '' '%E{ID_FS_UUID}'"
